<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sansany.theteams">

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_00007s"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_00007s"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTeams"
        tools:ignore="AllowBackup">

        <activity
            android:name="com.sansany.theteams.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sansany.theteams.Teams.TeamsTable" />
        <activity android:name="com.sansany.theteams.Teams.TeamsList" />
        <activity android:name="com.sansany.theteams.Teams.TeamsEdit" />
        <activity android:name="com.sansany.theteams.Teams.TeamsAdd" />
        <activity android:name="com.sansany.theteams.Cost.CostTable" />
        <activity android:name="com.sansany.theteams.Cost.CostList" />
        <activity android:name="com.sansany.theteams.Cost.CostEdit" />
        <activity android:name="com.sansany.theteams.Cost.CostAdd" />
        <activity android:name="com.sansany.theteams.Incomes.IncomeTable" />
        <activity android:name="com.sansany.theteams.Incomes.IncomeList" />
        <activity android:name="com.sansany.theteams.Incomes.IncomeEdit" />
        <activity android:name="com.sansany.theteams.Incomes.IncomeAdd" />
        <activity android:name="com.sansany.theteams.Journals.JournalTable" />
        <activity android:name="com.sansany.theteams.Journals.JournalList" />
        <activity android:name="com.sansany.theteams.Journals.JournalEdit" />
        <activity android:name="com.sansany.theteams.Journals.JournalAdd" />
        <activity android:name="com.sansany.theteams.Sites.SitesTable" />
        <activity android:name="com.sansany.theteams.Sites.SitesList" />
        <activity android:name="com.sansany.theteams.Sites.SitesEdit" />
        <activity android:name="com.sansany.theteams.Sites.SitesAdd" />
    </application>

</manifest>